#s5_newsticker_slides {
	-moz-opacity: .0;
	-khtml-opacity: .0;
	filter:alpha(opacity=0);
	opacity:.0;
	-webkit-transition:  all 700ms ease-in 0s;
	-moz-transition:  all 700ms ease-in 0s;
	-o-transition: all 700ms ease-in 0s;
	transition:  all 700ms ease-in 0s;}

#s5_newsticker_slides.rslides {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter:alpha(opacity=100);
	opacity:1;}	
	

	
.rslides_nav.prev {
	display: block;
    height: 16px;
    width: 16px;
	position: absolute;
	border:1px solid #cccccc;
	z-index:1;
	margin-top: -1px;
	background:transparent url(../images/arrows.png) no-repeat 5px 5px ;}
	
.rslides_nav.next {
	display: block;
	margin-left: 22px;
    height: 16px;
    width: 16px;
	margin-top: -1px;
	border:1px solid #cccccc;
	z-index:1;
	position: absolute;
	background:transparent url(../images/arrows.png) no-repeat 6px -46px ;}	
	

ul.rslides_tabs li {display:none;}	